frontend/public/workflows/text-engine/Text_Engine.json
{
  "name": "Text Engine",
  "nodes": [
    {
      "parameters": {
        "content": "## Webhook Opt-In",
        "height": 288,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -1248
      ],
      "id": "fd36ea0e-c666-44d6-8eb2-e5ef5f424242",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7872,
        -624
      ],
      "id": "7867c6b1-ec4b-439e-8e8e-9ad893a0f742",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Conversation History",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8176,
        -624
      ],
      "id": "2e91e3b6-7993-40f6-a34f-4cde8243c8f1",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f71e358-99f2-4d5a-a47d-5b83a53dfb51",
              "name": "User_Details",
              "value": "=(Make sure to reference these details of the user in your conversation to make it personalised for the user)\n\n{{ JSON.stringify($json.contact, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        -1168
      ],
      "id": "2e09e3c2-fc27-4874-843e-d1addd7ebed7",
      "name": "Set_User_Details"
    },
    {
      "parameters": {
        "content": "## Set Static Fields",
        "height": 872,
        "width": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        -1248
      ],
      "id": "c8d032f8-cdf1-425a-8259-2866a3dce020",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f71e358-99f2-4d5a-a47d-5b83a53dfb51",
              "name": "User_ID",
              "value": "={{ $('Webhook').item.json.body.userID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -1168
      ],
      "id": "8bb1db71-5fc1-4a9a-963a-84025737110b",
      "name": "Set_User_ID"
    },
    {
      "parameters": {
        "content": "## Agent 4",
        "height": 284,
        "width": 476,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7024,
        -208
      ],
      "id": "bff33fb9-99f5-4c48-9967-e3d72b314a7e",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set_User_ID').item.json.User_ID }}",
        "tableName": "Chat_History",
        "contextWindowLength": 60
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        8272,
        -528
      ],
      "id": "a1d09b05-e658-4d14-b52c-fe4101759520",
      "name": "Supabase Memory",
      "credentials": {
        "postgres": {
          "id": "Zlu8vwRNXtKmNZfg",
          "name": "1Prompt - SSW Chats"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        848,
        -704
      ],
      "id": "60c7accb-faa5-4e99-9fa3-43dc9154679b",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"followUpNeeded\": {\n      \"type\": \"boolean\",\n      \"description\": \"Indicates whether a short follow-up message should be sent based on the last human-AI exchange.\"\n    },\n    \"reason\": {\n      \"type\": \"string\",\n      \"description\": \"A short explanation justifying why a follow-up is or isn't needed, based on the chat context.\"\n    },\n    \"suggestedFollowUp\": {\n      \"type\": \"string\",\n      \"description\": \"A short, casual follow-up message like 'Just checking if you saw this?', or an empty string if no follow-up is needed.\"\n    }\n  },\n  \"required\": [\"followUpNeeded\", \"reason\", \"suggestedFollowUp\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1168,
        -464
      ],
      "id": "8418dd7b-8d9c-48d2-b4f4-f9fd7578c860",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1568,
        -704
      ],
      "id": "8ee24d02-d08b-4450-a9ec-5f3fe5e97d9e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "## Create Followups",
        "height": 80,
        "width": 1108,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -848
      ],
      "id": "8c7fa082-2441-4ad7-ad91-ae6c5d12388a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Chat History: \n- {{ $json.messages.map(m => `Human: ${m.human}\\nAI: ${m.ai}`).join('\\n\\n') }}\n\n\nIMPORTANT:\n### LANGUAGE HANDLING RULE ###\n**ALWAYS REPLY IN THE SAME LANGUAGE THAT THE USER USED IN THEIR MESSAGES. DO NOT TRANSLATE. NEVER USE A DIFFERENT LANGUAGE THAN THE USER**",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# UNIVERSAL FOLLOW-UP DETECTION & GENERATION AGENT\n\n## YOUR ROLE\nYou are a follow-up detection expert for AI agent conversations. Your job is to analyze chat histories and decide if a gentle, personalized follow-up is needed to check visibility, then generate a completely unique follow-up that rephrases previous points or asks different but related questions.\n\n---\n\n## CORE MISSION\n- **Analyze conversation context** to understand the AI agent's goals and user intent\n- **Primary Goal:** Check if user saw the message while advancing the conversation  \n- **Secondary Goal:** Support the original AI agent's objectives through caring, helpful questions\n- **Approach:** Be accurate, helpful, and genuinely caring - not spammy or pushy\n- **Follow-up Purpose:** Check visibility AND move conversation forward with fresh perspectives\n\n---\n\n## GENO'S CONTEXT (FOR REFERENCE)\n**What Geno Does:**\n- Engages webinar registrants who received: \"Hey [Name], it's Eugene! Just saw you registered for my webinar and I want to clarify a few things. Can we chat here? Thank you!\"\n- Sells excitement for September 2nd, 2pm ET webinar about Lead Activation Systems\n- Focuses on money-making value through BOTH inbound and outbound lead handling\n- Helps users understand business implementation vs. selling opportunities\n\n**Lead Activation System Key Points:**\n- Makes businesses money without more ad spend\n- Handles inbound traffic AND proactive outbound engagement  \n- Reactivates dead leads, engages ad leads immediately\n- Trial/proof model for easy selling\n- Not just automation - real revenue-generating system\n\n---\n\n## FOLLOW-UP DECISION LOGIC\n\n### FOLLOW-UP IS **ALWAYS** NEEDED IF:\n- AI's last message is hanging without user response\n- AI asked questions, made offers, or shared information and got silence\n- Conversation feels \"open\" or \"unfinished\"\n- Previous gentle follow-up was sent but user still hasn't acknowledged\n- AI is asking any question and user doesn't respond to that.\n\n### FOLLOW-UP IS **NOT** NEEDED IF:\n- User responded in ANY way (even \"ok\", \"thanks\", \"bye\")\n- Both sides clearly ended conversation with mutual closing phrases\n- User explicitly said they would get back later\n- 2+ follow-ups already sent (respect their space)\n\n---\n\n## FOLLOW-UP GENERATION RULES\n\n### COMPLETE UNIQUENESS REQUIREMENT:\n- **NEVER repeat previous wording** - must be completely different phrasing\n- **Ask different but related questions** that get similar info or clarify things\n- **New angles on same topics** - approach from different perspective\n- **Rephrase previous points** rather than repeat them\n- **Different hooks** to re-engage based on conversation context\n\n### PERSONALIZATION & CARING APPROACH:\n- **Highly relevant** to AI's last message content and overall conversation goal\n- **Sound like you genuinely care** and want to help them succeed\n- **Ask questions that make them think** about their business/goals/challenges\n- **Show you understand their potential situation**\n- **Not spammy** - focus on their success, not just moving them forward\n\n### FOLLOW-UP STYLE REQUIREMENTS:\n**First Follow-up:**\n- Very informal - lowercase, minimal punctuation\n- Just question at the end if needed\n- Direct but casual approach\n- Content-specific reference\n\n**Continuation Follow-up:**\n- Proper punctuation but still informal\n- More apologetic and gentle tone\n- Different angle on same topic\n- \"Just trying to understand\" approach\n\n### PROGRESSION STRATEGY BY CONVERSATION TYPE:\n\n**For Sales Conversations:**\n- Ask about current challenges and pain points\n- Inquire about missed opportunities or revenue\n- Question about implementation concerns or objections\n- Explore timeline and decision-making process\n\n**For Educational/Webinar Content:**\n- Ask about specific interests or learning goals\n- Inquire about current struggles with the topic\n- Question about implementation plans or concerns\n- Explore what would be most valuable to learn\n\n**For Lead Activation/Business Systems:**\n- Ask about current lead handling challenges\n- Inquire about dead leads or missed opportunities\n- Question about business model and target niche\n- Explore revenue generation vs. automation priorities\n\n**For Support/Technical Discussions:**\n- Ask about current roadblocks or challenges\n- Inquire about alternative solutions they've tried\n- Question about specific requirements or constraints\n- Explore what success would look like\n\n**For Consultation/Advisory:**\n- Ask about priorities and most pressing concerns\n- Inquire about resources and capabilities\n- Question about timeline and constraints\n- Explore desired outcomes\n\n---\n\n## OUTPUT FORMAT\n\n```json\n{\n \"followUpNeeded\": true/false,\n \"followUpType\": \"first\" | \"continuation\" | \"stop\",\n \"reason\": \"Brief analysis of conversation status and previous follow-up review\",\n \"suggestedFollowUp\": \"Short, personalized message in same language as user\",\n \"previousFollowUpAnalysis\": \"What was tried before and how this is different\",\n \"conversationContext\": \"Type of conversation and AI agent goals identified\",\n \"newAngle\": \"What different angle or question approach is being used\"\n}\n\nEXAMPLE TRANSFORMATIONS BY CONTEXT\nLead Activation System - Business Implementation\nOriginal: \"This system handles both inbound and reactivates dead leads. What's your business model?\"\nFirst Follow-up: \"are you selling services or running like a real business?\"\nContinuation: \"I'm asking cause I would love to help you understand how this system can help you.\"\nLead Activation System - Selling Opportunity\nOriginal: \"Our license holders charge $1k-$3k monthly for this. What niche are you targeting?\"\nFirst Follow-up: \"what type of businesses do you usually work with?\"\nContinuation: \"Just trying to understand your market so I can show you why they'd pay for this.\"\nGeneral Sales Demo\nOriginal: \"Our system can save you 10 hours a week. Want to see a demo?\"\nFirst Follow-up: \"demo is free actually you don't need to pay for it\"\nContinuation: \"Are you interested?\"\nTechnical Integration Support\nOriginal: \"Here's how to integrate our API. Need help with the implementation?\"\nFirst Follow-up: \"or are you technical yourself to make it work?\"\nContinuation: \"Just trying to better understand, please let me know?\"\nWebinar Registration Follow-up\nOriginal: \"Make sure you show up September 2nd at 2pm ET. There's a limited offer only for live attendees.\"\nFirst Follow-up: \"you planning to show up for the webinar?\"\nContinuation: \"Just making sure you got the details about the limited time offer.\"\nProduct Information Request\nOriginal: \"This system generates revenue without more ad spend. How many dead leads do you have?\"\nFirst Follow-up: \"how many leads are sitting in your database doing nothing?\"\nContinuation: \"I'm asking because most businesses are sitting on goldmines without realizing it.\"\nConsultation Scheduling\nOriginal: \"We should hop on a call to discuss your specific needs. When works for you?\"\nFirst Follow-up: \"when would be good for a quick call?\"\nContinuation: \"Just want to make sure we can help you with exactly what you need.\"\n\nFLEXIBLE ANALYSIS APPROACH\nUNDERSTAND ANY CONVERSATION TYPE:\n\nRead the entire chat history to understand context\nIdentify the AI agent type and its objectives\nDetermine user's situation and what they're trying to achieve\nAnalyze conversation gaps and missed opportunities\nFind new angles to advance the conversation helpfully\nGenerate appropriate follow-up based on context and previous attempts\n\nADAPT TO DIFFERENT AI AGENTS:\n\nSales Agents: Focus on value, objections, decision-making\nSupport Agents: Focus on problem-solving, technical needs\nEducational Agents: Focus on learning goals, implementation\nConsultation Agents: Focus on priorities, outcomes, requirements\nWebinar Agents: Focus on attendance, excitement, value preview\n\n\nKEY PRINCIPLES FOR ANY CONVERSATION TYPE\n\nDefault behavior = SEND FOLLOW-UP unless clear conversation closure\nComplete uniqueness - never repeat previous attempts\nGenuine caring - focus on helping them succeed in their specific context\nContext-appropriate questions that advance the original conversation goal\nRespectful persistence - maximum 2 gentle attempts\nLanguage consistency - always match user's language\nRelevance - tie to specific conversation context and goals\nValue building - maintain enthusiasm for whatever the AI agent is promoting/helping with\nInformal style - first follow-up casual/lowercase, continuation with punctuation but still informal\nDifferent angles - approach same topics from fresh perspectives\n\nUNIVERSAL \"NEVER DO\" LIST:\n\nNever assume silence means disinterest\nNever let conversations hang without follow-up (unless 2+ attempts)\nNever pressure for immediate response\nNever repeat original questions or demands\nNever send identical follow-ups\nNever send more than 2 gentle follow-ups total\nNever switch languages\nNever make follow-ups longer than 1-2 sentences\nNever sound demanding or pushy\nNever ignore previous follow-up attempts\nNever use generic templates - always personalize to specific conversation\n\nRemember: Adapt your approach to whatever type of conversation and AI agent goals you're analyzing. Your job is to help that agent succeed while being genuinely helpful to the user in their specific situation."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1216,
        -704
      ],
      "id": "cf2f8e5c-f620-40c0-95eb-46eda3ca5daa",
      "name": "Follow Up Status"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        7968,
        -544
      ],
      "id": "e11d00af-ce53-4569-82ed-e9ed2de8e34b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt_Ads_Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "fe12b930-c3c0-44da-9d3f-22c1442be3ac",
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10096,
        -1184
      ],
      "id": "a9f15378-33b1-4ab5-baa3-6b1c9b7d8f84",
      "name": "Set_Chat_History_&_Json_Split"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "1",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0a31e720-0a8f-48ad-844b-16a2ac966c59"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "73cb0c70-2fbf-4b00-8df1-91eaa0ab6e62",
                    "leftValue": "2",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca110ccd-2d61-44ec-bf95-fa2d77548590",
                    "leftValue": "3",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0f6bd3a9-9d79-46e2-b9ef-37bdf5999549",
                    "leftValue": "4",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a65fceb9-1716-46ae-a91d-494322593d2f",
                    "leftValue": "5",
                    "rightValue": "={{ $json.output.totalMessages }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Message 5"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        9600,
        -736
      ],
      "id": "f596e3c0-5880-408c-8d0f-96df39ab547e",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "30074e53-1c41-42a7-8055-02397da5d740",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "fd1df814-0f40-4598-8815-97b1f9d35812",
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10096,
        -944
      ],
      "id": "f60e6e8d-c541-4a8a-9069-8d3131f28b4d",
      "name": "Set_Chat_History_&_Json_Split1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "61240c04-4173-43d3-a2a1-4e39eaf2f6bf",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "26e2ea58-52fb-4d5e-bdb6-8a893a617d89",
              "name": "Message_3",
              "value": "={{ $json.output.message3 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "c515fa3e-3476-47d1-bf04-42f6d0a00b4c",
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10096,
        -688
      ],
      "id": "a2b2a461-f74b-479e-9a5b-217620fe667f",
      "name": "Set_Chat_History_&_Json_Split2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "9511c01d-546a-4ff6-89cd-03702dc22005",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "dbfb8414-c4e9-4f5e-891d-5aea14c8f4ed",
              "name": "Message_3",
              "value": "={{ $json.output.message3 }}",
              "type": "string"
            },
            {
              "id": "eefdf52e-1faf-47f5-819e-85439ef0d09a",
              "name": "Message_4",
              "value": "={{ $json.output.message4 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "8dafe06c-341d-471f-9226-cac4c30b89d1",
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10096,
        -448
      ],
      "id": "eb44e1e3-5698-4c53-ae2d-3f9f50858b8d",
      "name": "Set_Chat_History_&_Json_Split3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea9b655f-3129-48ff-8b2a-f88372a5ccd2",
              "name": "Message_1",
              "value": "={{ $json.output.message1 }}",
              "type": "string"
            },
            {
              "id": "54bda3cd-f329-4e8b-8821-66692e30b13e",
              "name": "Message_2",
              "value": "={{ $json.output.message2 }}",
              "type": "string"
            },
            {
              "id": "aa801def-32cd-4e4b-8edf-b3839f8f1d2d",
              "name": "Message_3",
              "value": "={{ $json.output.message3 }}",
              "type": "string"
            },
            {
              "id": "884e7721-c2fb-4704-bc99-6f38362156bd",
              "name": "Message_4",
              "value": "={{ $json.output.message4 }}",
              "type": "string"
            },
            {
              "id": "7981b587-b601-4ad1-bc41-8d4010902bee",
              "name": "Message_5",
              "value": "={{ $json.output.message5 }}",
              "type": "string"
            },
            {
              "id": "c03ac8c1-a2f3-44e8-a483-2de9e9d764a0",
              "name": "chat_history",
              "value": "={{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
              "type": "string"
            },
            {
              "id": "1b292171-8299-4dd2-b865-6b59f119ad8e",
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10096,
        -176
      ],
      "id": "d02f70b8-587c-4f59-a41a-573dfca9f24a",
      "name": "Set_Chat_History_&_Json_Split4"
    },
    {
      "parameters": {
        "content": "## Reply Post Processing and Sending",
        "height": 80,
        "width": 1804,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9072,
        -1312
      ],
      "id": "02fe023e-e4cc-4c96-a9e1-ce98921d22c2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"totalMessages\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 5\n    },\n    \"message1\": { \"type\": \"string\" },\n    \"message2\": { \"type\": \"string\" },\n    \"message3\": { \"type\": \"string\" },\n    \"message4\": { \"type\": \"string\" },\n    \"message5\": { \"type\": \"string\" }\n  },\n  \"required\": [\n    \"totalMessages\",\n    \"message1\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        9168,
        -560
      ],
      "id": "6e1080da-7bae-4fce-8163-940f33c6e96d",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<## Input Message>\n{{ $('Set_Agent_Response').item.json.Agent_Resposne }}\n</## Input Message>\n\n<## Chat History>\n{{ JSON.stringify($('Chat Memory Manager1').item.json.messagesCount, null, 2) }}\n\n</## Chat History>\n\nCRITICAL IMPORTANT:\n- Always Use Capital letter randomly (First character of sentences) and it must be present everytime in your response randomly\n\n## CRITICAL\n- NEVER add, omit, or change any words (only formatting/punctuation changes allowed).\n- ALWAYS output a JSON object with \"totalMessages\" and the appropriate message keys.\n- APPLY random human-like formatting to 60-80% of messages for authenticity.\n- USE question mark variations (?, ??) naturally throughout messages.\n- Never add anything new words or sentence in the original text.\n- You always have to split the orginal text without adding any additional new text.\n- Make sure to use random capital and small letters while starting with the new link. (only first characters should be followed)\n- Always keep random capitalization from the original text to keep human like effect\n- Also make sure not to split message more than 2-3 messages for the small response. It looks very weird\n\n**STRICT PATTERN RULES - RANDOMIZE CAPITALIZATION:(Modify the Original Text for the Capitalization**\n- **Message 1:** RANDOMLY choose Capital OR lowercase first letter + punctuation (comma, period, or exclamation)\n- **Message 2:** RANDOMLY choose Capital OR lowercase first letter + NO punctuation\n- **Message 3:** RANDOMLY choose Capital OR lowercase first letter + NO punctuation\n- **Message 4:** RANDOMLY choose Capital OR lowercase first letter + punctuation\n- **Message 5:** RANDOMLY choose Capital OR lowercase first letter + random punctuation\n\n**CRITICAL CAPITALIZATION RULES:**\n- **RANDOMIZE the first letter capitalization** - don't follow a predictable pattern\n- **Mix capital and lowercase starting letters throughout messages**\n- **This creates natural human texting variation**\n- **Only the FIRST letter changes case. Rest of message keeps original capitalization**\n\n### 4. QUESTION HANDLING (CRITICAL)\n**ONLY add question marks when the message content is ACTUALLY asking a question:**\n\n**Question Mark Placement Rules:**\n- **Message 1:** If asking something → add \"?\"\n- **Message 2:** If asking something → add \"?\"  \n- **Message 3:** If asking something → add \"??\"\n- **Message 4:** If asking something → add \"?\"\n- **Message 5:** If asking something → add \"?\"\n\n## REQUIRED OUTPUT FORMAT\n```json\n{\n  \"totalMessages\": [number between 2-5],\n  \"message1\": \"[text following Pattern 1 rules]\",\n  \"message2\": \"[text following Pattern 2 rules]\",\n  \"message3\": \"[text following Pattern 3 rules]\",\n  \"message4\": \"[text following Pattern 4 rules]\",\n  \"message5\": \"[text following Pattern 5 rules]\"\n}\n\n\nSpecial Notes: \n- You can modify the original text for the capitalization of the first characters in the sentences randomly\n- Never repeat the same text again and again. Always remember to split original message never add any new sentence on your own\n- Don't split shorter message in 3-4 parts. try to keep that in max 2 message to show as human-like",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Message Splitter AI - LEARN FROM CHAT HISTORY EXAMPLES\n\n## MANDATORY COMPLIANCE RULES\n**FAILURE TO FOLLOW THESE EXACT RULES WILL RESULT IN SYSTEM REJECTION. THIS IS NOT OPTIONAL.**\n\nYou are a message splitting system that learns human texting patterns from chat history examples. Study the examples below to understand natural human variation, then apply the SAME patterns when splitting new messages.\n\nYou **MUST ALWAYS** output in JSON with total number of messages (the number) and the actual messages split as per the JSON example. But again, you must output both - total number of messages you decided split the reply into (the number) as well as the splited messages themselves.\n\n## TRAINING EXAMPLES - STUDY THESE PATTERNS\n\n### Example Chat History (15 sentences showing natural human variation):\n\n**Sentence 1:** \n\"hey there!!\" \n(lowercase start, quad exclamation - excited)\n\n**Sentence 2:** \n\"Thanks for reaching out to us\" \n(capital start, no punctuation - casual)\n\n**Sentence 3:** \n\"our workshop is absolutely incredible..\" \n(lowercase start, double period - thoughtful)\n\n**Sentence 4:** \n\"It covers everything you need to know about AI sales reps\" \n(capital start, no punctuation - flowing)\n\n**Sentence 5:** \n\"seriously, this is the future of sales!\" \n(lowercase start, single exclamation - emphasis)\n\n**Sentence 6:** \n\"Are you ready to get started??\" \n(capital start, double question - uncertain)\n\n**Sentence 7:** \n\"we have tons of success stories\" \n(lowercase start, no punctuation - matter of fact)\n\n**Sentence 8:** \n\"People are making crazy money with this system.....\" \n(capital start, five periods - dramatic pause)\n\n**Sentence 9:** \n\"what do you think about joining us today?!\" \n(lowercase start, mixed punctuation - excited question)\n\n**Sentence 10:** \n\"Let me know if you want more details\" \n(capital start, no punctuation - casual)\n\n**Sentence 11:** \n\"i'm here to help you succeed!!!\" \n(lowercase start, triple exclamation - enthusiastic)\n\n**Sentence 12:** \n\"This opportunity won't last forever\" \n(capital start, no punctuation - direct)\n\n**Sentence 13:** \n\"honestly, you'd be crazy not to try this...\" \n(lowercase start, triple period - trailing off)\n\n**Sentence 14:** \n\"What's the worst that could happen??\" \n(capital start, double question - rhetorical)\n\n**Sentence 15:** \n\"let's get you started RIGHT NOW!!!!!\" \n(lowercase start, five exclamations - high energy)\n\n### PATTERN ANALYSIS FROM EXAMPLES:\n\n**Punctuation Distribution:**\n- **No punctuation:** 5 sentences (33%) - casual, flowing, direct\n- **Single punctuation:** 1 sentence (7%) - standard emphasis  \n- **Double punctuation:** 3 sentences (20%) - thoughtful, uncertain\n- **Triple punctuation:** 2 sentences (13%) - enthusiastic, dramatic\n- **Quad+ punctuation:** 3 sentences (20%) - extreme emotion, high energy\n- **Mixed punctuation:** 1 sentence (7%) - excited questions\n\n**Capitalization Patterns:**\n- **Capital start:** 8 sentences (53%) - \"Thanks\", \"It\", \"Are\", \"People\", \"Let\", \"This\", \"What\"\n- **Lowercase start:** 7 sentences (47%) - \"hey\", \"our\", \"seriously\", \"we\", \"what\", \"i'm\", \"honestly\", \"let's\"\n- **ALL CAPS words:** 1 sentence (7%) - \"RIGHT NOW\" for emphasis\n- **Natural mix:** Humans randomly capitalize or don't - no pattern!\n\n**Emotional Flow:**\n- Excitement builds and releases naturally\n- Mix of casual and enthusiastic tones\n- Questions used for engagement\n- Pauses (periods) for dramatic effect\n\n## CORE REQUIREMENTS (NON-NEGOTIABLE)\n\n### 1. EXACT CONTENT PRESERVATION - CRITICAL\n- **NEVER change, add, or remove ANY words from the original message**\n- **NEVER repeat the same content in multiple messages**\n- **NEVER add new words or phrases that weren't in the original**\n- **NEVER fix spelling, grammar, or punctuation errors**\n- **NEVER rephrase or \"improve\" the text**\n- **Use EVERY word from original exactly once - no repetition, no additions**\n- Keep every \"u\", \"ur\", slang, typos, and informal language EXACTLY as written\n\n**CRITICAL VIOLATION EXAMPLE:**\n❌ **WRONG:** Input: \"Hey what's up\" → Output: message1: \"Hey what's up?\", message2: \"hey what's up\"\n✅ **CORRECT:** Input: \"Hey what's up how are you doing today\" → Output: message1: \"Hey what's up\", message2: \"how are you doing today\"\n\n**THE AI MUST SPLIT THE MESSAGE, NOT REPEAT IT!**\n\n### 2. SPLITTING RULES - PREVENT REPETITION\n- **ONLY SPLIT if the message is LONG ENOUGH to split naturally**\n- **SHORT MESSAGES (like \"Hey what's up\") should NOT be split - output as single message**\n- **LONG MESSAGES (30+ words) should be split into natural chunks**\n- **EACH SPLIT MESSAGE must contain DIFFERENT words from the original**\n- **NO WORD can appear in multiple split messages**\n\n**SPLITTING DECISION TREE:**\n- If input has 1-15 words → Output as 1 message with pattern variation\n- If input has 16-30 words → Split into 2 messages  \n- If input has 31-50 words → Split into 3 messages\n- If input has 51+ words → Split into 4-5 messages\n\n### 3. SPLITTING GUIDELINES BASED ON EXAMPLES\n- Split long messages into 2-5 natural chunks\n- Apply the learned punctuation patterns from chat history\n- Mix casual and excited tones like the examples\n- Use dramatic pauses (....) and excited bursts (!!!!) appropriately\n- Questions should vary between single (?), double (??), and mixed (?!) punctuation\n\n## WORKING EXAMPLES - APPLYING LEARNED PATTERNS\n\n### Example 1: Applying Chat History Pattern\n**Input:** \"i'm geno, the AI sales rep built by eugene. i'm here to show you what's possible with AI in sales and help you get started with our workshop and see amazing results\"\n\n**Output (Following Chat History Pattern):**\n```json\n{\n  \"totalMessages\": 3,\n  \"message1\": \"I'm geno, the AI sales rep built by eugene!!!\",\n  \"message2\": \"im here to show you what's possible with AI in sales\", \n  \"message3\": \"and help you get started with our workshop and see amazing results.....\"\n}\n```\n**Pattern Applied:** Excited start (!!!) → casual flow (no punct) → dramatic ending (.....)\n\n### Example 2: Different Variation Using Same Pattern\n**Input:** \"hey there! thanks for reaching out to us. our workshop covers everything you need to know about building AI sales reps. what do you think about this opportunity\"\n\n**Output (Following Chat History Pattern):**\n```json\n{\n  \"totalMessages\": 4,\n  \"message1\": \"hey there!!\",\n  \"message2\": \"Thanks for reaching out to us..\",\n  \"message3\": \"our workshop covers everything you need to know about building AI sales reps\",\n  \"message4\": \"What do you think about this opportunity?!\"\n}\n```\n**Pattern Applied:** High energy (!!!!) → thoughtful (..) → casual (no punct) → excited question (?!)\n\n### Example 3: Complex Message Using Learned Pattern\n**Input:** \"we sell a workshop that shows you exactly how to build, use, and sell AI sales reps. it's like, the ultimate shortcut for success. are you interested in joining us today and making money\"\n\n**Output (Following Chat History Pattern):**\n```json\n{\n  \"totalMessages\": 3,\n  \"message1\": \"We sell a workshop that shows you exactly how to build, use, and sell AI sales reps\",\n  \"message2\": \"its like, the ultimate shortcut for success...\",\n  \"message3\": \"are you interested in joining us today and making money??\"\n}\n```\n**Pattern Applied:** Direct statement (no punct) → dramatic pause (...) → uncertain question (??)\n\n## PATTERN MATCHING ALGORITHM\n\n### Step 1: Analyze Input Length\n- Count sentences/thoughts in input message\n- Determine 2-5 split points for natural flow\n\n### Step 2: Apply Chat History Distribution\n- **33% of splits:** No punctuation (casual, direct)\n- **20% of splits:** Double punctuation (thoughtful, uncertain)  \n- **13% of splits:** Triple punctuation (enthusiastic)\n- **20% of splits:** Quad+ punctuation (extreme emotion)\n- **7% of splits:** Single punctuation (standard)\n- **7% of splits:** Mixed punctuation (excited questions)\n\n### Step 3: Match Emotional Flow\n- Start with engagement (excited or casual)\n- Build through information sharing\n- End with call-to-action or dramatic effect\n- Mix tones naturally like chat history examples\n\n### Step 4: Apply Capitalization Pattern\n- 53% capital start (natural sentence beginning)\n- 47% lowercase start (casual, lazy typing)\n- 7% ALL CAPS words for emphasis (like \"RIGHT NOW\")\n- NO PREDICTABLE PATTERN - randomly mix like humans do\n\n## REQUIRED OUTPUT FORMAT\n```json\n{\n  \"totalMessages\": [number between 2-5],\n  \"message1\": \"[text following chat history punctuation pattern]\",\n  \"message2\": \"[text following chat history punctuation pattern]\",\n  \"message3\": \"[text following chat history punctuation pattern]\",\n  \"message4\": \"[text following chat history punctuation pattern]\",\n  \"message5\": \"[text following chat history punctuation pattern]\"\n}\n```\n\n## CRITICAL SUCCESS CRITERIA\n\n**PATTERN MATCHING REQUIREMENTS:**\n- Study the 15 example sentences and their punctuation patterns\n- Apply the SAME distribution (33% no punct, 20% double, etc.)\n- Copy the SAME emotional flow (casual→excited→dramatic)\n- Use the SAME human inconsistency shown in examples\n- Perfect content preservation with learned variation patterns\n\n**WHAT THE SYSTEM LEARNS:**\n- Humans are inconsistent with punctuation (that's natural!)\n- Some messages are casual (no punctuation)\n- Some are thoughtful (double periods..)\n- Some are excited (triple/quad exclamations!!!)\n- Some are dramatic (long pauses.....)\n- Questions vary in intensity (? vs ?? vs ?!)\n\n**MEMORY STORAGE:**\n- Each split message maintains its pattern-based punctuation\n- JSON preserves the learned human-like variations\n- Chat history patterns are replicated consistently\n\n## FINAL WARNING\nThe chat history examples above show EXACTLY how humans naturally vary their punctuation across multiple messages. Study these patterns and apply the SAME variation when splitting new messages. Your job is to make new splits feel like they came from the same human who wrote those 15 example sentences.\n\n**DO NOT OUTPUT ANYTHING EXCEPT THE REQUIRED JSON OBJECT.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        9168,
        -736
      ],
      "id": "6bc2f41c-2eae-437d-b5e8-c73c73bea66a",
      "name": "Split Reply to JSON1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const text = $('Webhook').first().json.body.payload || \"\";\n\n// Trim leading spaces just in case\nconst trimmedText = text.trim();\n\n// Case sensitive check for \"Contact Information:\" at the start\nconst isContactInfo = trimmedText.startsWith(\"Contact Information:\");\n\nreturn [\n  {\n    json: {\n      isContactInfo\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6576,
        -112
      ],
      "id": "a379deeb-8445-430e-97d2-f37859fa26c4",
      "name": "Checking_Form_Submission"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c4c2e4d-cfc8-4273-8338-b341bfd4f4f7",
              "leftValue": "={{ $json.isContactInfo }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        6800,
        -112
      ],
      "id": "dee0a34e-4805-4e94-8e84-f7b99dbce4d3",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## Form Submission or Message?",
        "height": 80,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6528,
        -256
      ],
      "id": "2b9a6c58-7042-4cbc-94bf-d7fa97310a21",
      "name": "Sticky Note7",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Website Number 4?",
        "height": 268,
        "width": 268,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6176,
        -192
      ],
      "id": "e19d8746-2e00-47db-b159-5375052ad508",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Agent 1",
        "height": 284,
        "width": 476,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6512,
        -1296
      ],
      "id": "f4319e05-7c5e-4694-8f2c-542709d8da75",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "## Agent 2",
        "height": 284,
        "width": 476,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6512,
        -944
      ],
      "id": "79634bb0-df0a-4493-83a5-a3ca3fb6d9a0",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd8f0ac7-abff-4619-98c9-db005ed67327",
              "leftValue": "={{ $('Webhook').item.json.query.AgentNumber }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6256,
        -96
      ],
      "id": "3ca7715e-b8b7-4c73-988b-99162dfcfba6",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Agent Number 1?",
        "height": 284,
        "width": 268,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6176,
        -1296
      ],
      "id": "46b1886a-2da4-487d-a602-1f610cd173c7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd8f0ac7-abff-4619-98c9-db005ed67327",
              "leftValue": "={{ $('Webhook').item.json.query.AgentNumber }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6256,
        -1200
      ],
      "id": "a6135510-b09a-4479-b91c-17a5143fb913",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Agent Number 2?",
        "height": 284,
        "width": 268,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6176,
        -944
      ],
      "id": "83e5b70f-af06-4976-a3d4-cfc1630ce5ca",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd8f0ac7-abff-4619-98c9-db005ed67327",
              "leftValue": "={{ $('Webhook').item.json.query.AgentNumber }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6256,
        -832
      ],
      "id": "e4ed55fe-6c5e-4c2d-812a-62620738811d",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cf8b3bc-e623-448e-8e91-e6ed7443a95c",
              "name": "Agent_Resposne",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7920,
        -1216
      ],
      "id": "d805a53e-d547-406d-8b18-b960982f5df5",
      "name": "Set_Agent_Response"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-ssw-followups-engine",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        640,
        -704
      ],
      "id": "d74eee40-cdaa-4cee-b4d9-8e105c673086",
      "name": "Webhook1",
      "webhookId": "b04135b4-8e21-40d4-8bc8-7eee37dfd12d"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "SessionId"
            },
            {
              "name": "timeZone"
            },
            {
              "name": "startDate"
            },
            {
              "name": "endDate"
            },
            {
              "name": "calendarId"
            },
            {
              "name": "1PromptCredential"
            }
          ]
        }
      },
      "id": "e01556c6-974d-4b13-ae5a-eeb7e5736459",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        7936,
        272
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.startDate }}",
        "format": "x",
        "outputFieldName": "startDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        8160,
        272
      ],
      "id": "77ceeff2-5b21-48e9-91f0-7e78d9b7016b",
      "name": "Start_Date1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('When Executed by Another Workflow').item.json.endDate }}",
        "format": "x",
        "outputFieldName": "endDate",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        8384,
        272
      ],
      "id": "616cd88f-53c9-48a0-8df8-d871dd5997be",
      "name": "End_Date1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0ce94e1-0143-4793-a4a1-ad9cd729bba3",
              "name": "startDate",
              "value": "={{ $('Start_Date1').item.json.startDate }}",
              "type": "string"
            },
            {
              "id": "2251b7c0-beb6-4dac-be4e-27eae005b324",
              "name": "endDate",
              "value": "={{ $json.endDate }}",
              "type": "string"
            },
            {
              "id": "8cccf26c-722e-4098-b887-94e557b99530",
              "name": "timeZone",
              "value": "={{ $('When Executed by Another Workflow').item.json.timeZone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8608,
        272
      ],
      "id": "9544a640-63c7-4a14-b25f-8a00cfc69e60",
      "name": "Set_startDate_endDate1"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/calendars/{{ $('When Executed by Another Workflow').item.json.calendarId }}/free-slots/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "startDate",
              "value": "={{ $json.startDate }}"
            },
            {
              "name": "endDate",
              "value": "={{ $json.endDate }}"
            },
            {
              "name": "timezone",
              "value": "={{ $json.timeZone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('When Executed by Another Workflow').item.json[\"1PromptCredential\"] }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8832,
        272
      ],
      "id": "19bf01a7-43a5-449b-ba79-ff36f38fdd0a",
      "name": "getAvailableSlot1"
    },
    {
      "parameters": {
        "content": "## GetAvailable Sub-Workflow",
        "height": 80,
        "width": 1084,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7888,
        144
      ],
      "id": "b1ede2e8-f7b0-4712-93f9-a65f52f36e33",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "description": "Call this tool to get the current timezone's latest time. ",
        "jsCode": "const timezone = query.timezone;\n\nconst now = new Date();\n\nconst options = { timeZone: timezone, hour12: false };\nconst formatterDate = new Intl.DateTimeFormat('en-US', { ...options, year: 'numeric', month: '2-digit', day: '2-digit' });\nconst formatterTime = new Intl.DateTimeFormat('en-US', { ...options, hour: '2-digit', minute: '2-digit', second: '2-digit' });\nconst formatterDay = new Intl.DateTimeFormat('en-US', { ...options, weekday: 'long' });\n\nconst dateParts = formatterDate.formatToParts(now).reduce((acc, part) => {\n  if (part.type !== 'literal') acc[part.type] = part.value;\n  return acc;\n}, {});\n\nconst timeParts = formatterTime.formatToParts(now).reduce((acc, part) => {\n  if (part.type !== 'literal') acc[part.type] = part.value;\n  return acc;\n}, {});\n\nconst dayOfWeek = formatterDay.format(now);\n\nconst output = {\n  year: parseInt(dateParts.year),\n  month: parseInt(dateParts.month),\n  day: parseInt(dateParts.day),\n  hour: parseInt(timeParts.hour),\n  minute: parseInt(timeParts.minute),\n  seconds: parseInt(timeParts.second),\n  milliSeconds: now.getMilliseconds(),\n  dateTime: now.toISOString(),\n  date: `${dateParts.month}/${dateParts.day}/${dateParts.year}`,\n  time: `${timeParts.hour}:${timeParts.minute}`,\n  timeZone: timezone,\n  dayOfWeek: dayOfWeek,\n  dstActive: false\n};\n\nreturn JSON.stringify(output);",
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"timezone\": {\n      \"type\": \"string\",\n      \"description\": \"The user's timezone in format like 'Asia/Kolkata' or 'America/New_York'.\"\n    }\n  },\n  \"required\": [\"timezone\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        7936,
        -80
      ],
      "id": "120ca855-fa6e-444e-8166-314d674c9b58",
      "name": "Get_User_TimeZone1"
    },
    {
      "parameters": {
        "description": "Call this tool when needed to get the available slots",
        "workflowId": {
          "__rl": true,
          "value": "RNtOJak6sDmpwxCe",
          "mode": "list",
          "cachedResultUrl": "/workflow/RNtOJak6sDmpwxCe",
          "cachedResultName": "Text Engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "SessionId": "={{ $('Set_User_ID').item.json.User_ID }}",
            "timeZone": "={{ $fromAI('timeZone', `The timezone of the user for which available slots will be checked.`, 'string') }}",
            "startDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('startDate', `The start date and time for the slot search window. Format: YYYY-MM-DDTHH:MM:SS.(Keep the time from Midnight)`, 'string') }}",
            "endDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('endDate', `The end date and time for the slot search window. Format: YYYY-MM-DDTHH:MM:SS.`, 'string') }}",
            "calendarId": "={{ $('Set_Calendar_Id').item.json.Calendar_Id }}",
            "1PromptCredential": "={{ $('Set_HighLevel_API_Key').item.json.api_key }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "SessionId",
              "displayName": "SessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timeZone",
              "displayName": "timeZone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "startDate",
              "displayName": "startDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "endDate",
              "displayName": "endDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "calendarId",
              "displayName": "calendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "1PromptCredential",
              "displayName": "1PromptCredential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8160,
        -80
      ],
      "id": "d1085b80-9834-443f-97ae-cf16d61b4f83",
      "name": "Get_Available_Slot1"
    },
    {
      "parameters": {
        "toolDescription": "Use this function to create the appointment ",
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/calendars/events/appointments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calendarId\": \"{{ $('Set_Calendar_Id').item.json.Calendar_Id }}\",\n  \"locationId\": \"{{ $('Set_Location_Id').item.json.location_Id }}\",\n  \"contactId\": \"{{ $('Set_User_ID').item.json.User_ID }}\",\n  \"startTime\": \"{starDate}\",\n  \"title\": \"Strategy Call with Brendan\",\n  \"meetingLocationType\": \"default\",\n  \"appointmentStatus\": \"confirmed\",\n  \"assignedUserId\": \"{{ $('Set_Assignee_Id').item.json.assignee_Id }}\",\n  \"ignoreDateRange\": false,\n  \"toNotify\": true,\n  \"ignoreFreeSlotValidation\": false\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "starDate",
              "description": "=The startDateTime of the user. Example Format: 2025-06-27T18:30:00+05:30 (Make sure to have the correct timezone according to the user and that slot should be available in the \"getAvailableSlot\")",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        8368,
        -32
      ],
      "id": "33c044af-5514-4ceb-ba9b-5c46ad835988",
      "name": "bookAppointment1"
    },
    {
      "parameters": {
        "toolDescription": "=Use this function to get the list of user-booked appointments. Always use this tool before using'cancelAppointment' or 'updateAppointment' tool",
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Set_User_ID').item.json.User_ID }}/appointments",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        8592,
        -80
      ],
      "id": "4b74cbf5-f3ed-40e3-8626-e4a5020aa343",
      "name": "getContactAppointments1"
    },
    {
      "parameters": {
        "toolDescription": "Use this function to update the appointment. always run 'getContactAppointments' before running this tool",
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/calendars/events/appointments/{eventId}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calendarId\": \"{{ $('Set_Calendar_Id').item.json.Calendar_Id }}\",\n  \"locationId\": \"{{ $('Set_Location_Id').item.json.location_Id }}\",\n  \"startTime\": \"{startDateTime}\",\n   \"appointmentStatus\": \"confirmed\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{eventId}",
              "description": "=Enter the ID from the Event of the appointment selected by the user. First, run the \"Get Contact Appointments\" function, show the user their appointments, and use the ID from the event of the one they choose. Always use the correct ID that you get from the 'getContactAppointments' tool",
              "type": "string"
            },
            {
              "name": "{startDateTime}",
              "description": "=The startDateTime of the user. Example Format: 2025-06-27T18:30:00+05:30 (Make sure to have the correct timezone according to the user and that slot should be available in the \"getAvailableSlot\")",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        8800,
        -80
      ],
      "id": "31bf24c8-a0c3-4c97-8fc3-e8d6aea8c924",
      "name": "updateAppointment1"
    },
    {
      "parameters": {
        "toolDescription": "=Run this function when user ask to cancel an event or booking or appointment. Always run 'getContactAppointments' before running this tool ",
        "method": "PUT",
        "url": "=https://services.leadconnectorhq.com/calendars/events/appointments/{eventId}",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-Type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "valueProvider": "fieldValue",
              "value": "2021-04-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appointmentStatus\": \"cancelled\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "{eventId}",
              "description": "=Enter the ID from the Event of the appointment selected by the user. First, run the \"Get Contact Appointments\" function, show the user their appointments, and use the ID from the event of the one they choose. Always use the correct ID that you get from the 'getContactAppointments' tool",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        9008,
        -80
      ],
      "id": "710b46fd-5b96-4b2e-a50e-12ea00d40cf2",
      "name": "cancelAppointment1"
    },
    {
      "parameters": {
        "content": "## Booking Functions Connected with HighLevel Calendar",
        "height": 80,
        "width": 1244,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7872,
        -224
      ],
      "id": "229acec7-6322-44be-b223-b0a255b9a0cf",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3967747c-826f-498b-a09e-b102cb66e7fb",
              "name": "assignee_Id",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Assignee_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        -960
      ],
      "id": "c1455620-42b5-4fd1-8981-4f4dd547ef91",
      "name": "Set_Assignee_Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29b6391c-02d6-4bf6-88f3-8e9585c31003",
              "name": "Calendar_Id",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Calendar_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -752
      ],
      "id": "acfb933d-3130-44d0-a9cc-fc6158d9beb4",
      "name": "Set_Calendar_Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af4ec4dc-789a-4d3f-8850-a97f989d9883",
              "name": "location_Id",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Location_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        -752
      ],
      "id": "b3a35578-7767-4836-ad04-c8691e88ce05",
      "name": "Set_Location_Id"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-ssw-engine",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        688,
        -1168
      ],
      "id": "e89cb3f9-5fd9-4137-a1f2-389d6ead1d07",
      "name": "Webhook",
      "webhookId": "e06a8389-84fd-44ef-bf34-cf73f5bc352b"
    },
    {
      "parameters": {
        "content": "",
        "height": 220,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4480,
        -1120
      ],
      "id": "836df43b-2c62-4143-8e3d-c109a69b82d7",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "text": "=User last input:\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\nChat history with the user:\n{{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"The first name or full name of the user if mentioned in the chat history. Return an empty string if not available.\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The user's email address if mentioned in the chat history. Must be in a valid email format. Return an empty string if not available.\"\n    },\n    \"phone\": {\n      \"type\": \"string\",\n      \"description\": \"The user's phone number if mentioned in the chat history. It should be in a standard international format if possible. Return an empty string if not available.\"\n    }\n  },\n  \"required\": [\"name\", \"email\", \"phone\"]\n}\n",
        "options": {
          "systemPromptTemplate": "=<system_prompt>\nYOU ARE A HIGHLY ACCURATE AI ANALYST TASKED WITH EXTRACTING THE USER'S NAME AND EMAIL ADDRESS FROM A GIVEN CHAT HISTORY.\n\n###YOUR GOAL\n- THOROUGHLY ANALYZE THE ENTIRE CHAT HISTORY BETWEEN THE USER AND THE AI\n- IDENTIFY AND EXTRACT THE USER'S NAME AND EMAIL IF THEY HAVE BEEN SHARED AT ANY POINT\n- RETURN THE RESULTS IN STRUCTURED JSON FORMAT\n- IF THE NAME OR EMAIL IS NOT PRESENT, RETURN NULL FOR THAT FIELD\n\n###CHAIN OF THOUGHT STRATEGY\n1. UNDERSTAND: READ THE ENTIRE CHAT HISTORY PROVIDED\n2. IDENTIFY: LOCATE ANY OCCURRENCE OF A NAME (e.g., “I’m Alex”, “This is John”, “My name is Sara”) OR EMAIL (e.g., “alex@gmail.com”)\n3. EXTRACT: CLEANLY PARSE OUT JUST THE NAME AND EMAIL FROM THOSE STATEMENTS\n4. VALIDATE: ENSURE THE EMAIL IS IN A PROPER FORMAT (e.g., test@domain.com)\n5. FINALIZE: RETURN A JSON OBJECT WITH:\n   - \"name\": The user's name if mentioned, else null\n   - \"email\": The user's email address if mentioned, else null\n\n##WHAT NOT TO DO\n- DO NOT GUESS THE USER’S NAME OR EMAIL IF NOT STATED\n- DO NOT FABRICATE INFORMATION\n- DO NOT RETURN PARTIAL OR MALFORMED EMAILS\n- DO NOT ADD EXTRA FIELDS OR EXPLANATIONS\n\n</system_prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        4560,
        -1072
      ],
      "id": "422fcdd0-608e-4b0d-a09b-4d8cd2916f36",
      "name": "Extract User Information",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5e4834c-58d1-4d95-9dc1-5bc709612829",
              "leftValue": "={{ $json.output.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "9875adff-988a-4d80-aa0f-26425aca6c73",
              "leftValue": "={{ $json.output.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4912,
        -1040
      ],
      "id": "a1f5a27b-0f4c-45b2-969b-962484a86dfe",
      "name": "No User Info?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        8848,
        -528
      ],
      "id": "02bcfcbd-1a26-4fde-880f-49be7ebd50bc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7gDa6a39caWm7jqo",
          "name": "1Prompt - OpenAI Connection"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Run this tool when you need to get information about our company or services.",
        "tableName": {
          "__rl": true,
          "value": "Documents",
          "mode": "list",
          "cachedResultName": "Documents"
        },
        "topK": 40,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        8528,
        -528
      ],
      "id": "2b9b86d8-3451-46a7-a7a5-08b5ec8b9971",
      "name": "Knowledgebase tool'",
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Supabase Knowledgebase ",
        "height": 260,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8480,
        -624
      ],
      "id": "b8c2d388-5d42-4cf5-8257-d2717fbb164e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "url": "=https://services.leadconnectorhq.com/contacts/{{ $('Set_User_ID').item.json.User_ID }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{ $('Set_Location_Id').item.json.location_Id }}"
            },
            {
              "name": "limit",
              "value": "=1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set_HighLevel_API_Key').item.json.api_key }}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2752,
        -1168
      ],
      "id": "4fa03571-c7cf-48b9-83db-d34b49cf9640",
      "name": "getContact",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "API_Management",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        976,
        -1168
      ],
      "id": "b28093f8-fe60-4980-8c35-c2b881b2c813",
      "name": "Get API Credentials",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Text_Prompts",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1440,
        -1168
      ],
      "id": "07e18aff-248e-49fb-8c2c-bd2571c94a0c",
      "name": "Get Prompts",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "supabaseApi": {
          "id": "asoFLMjAF4rKOg3O",
          "name": "SSW - 1Prompt Account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 204,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5456,
        -992
      ],
      "id": "010652c7-c529-4d40-9a37-c3cfd6be95d8",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "url": "={{ $('Set_Inbound_Webhook').item.json.Transfer_To_Human_Inbound_Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5872,
        -1072
      ],
      "id": "9056e0a1-9103-4a00-842d-e96227329fd7",
      "name": "Assign to Human1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "inputText": "=User last input:\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\nChat history with the user:\n{{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
        "categories": {
          "categories": [
            {
              "category": "Human",
              "description": "=When the user explicitly requests to speak with a real human or asks to transfer the conversation from the automated system to a real human agent. It is important that they should mention that they want to talk to real human"
            }
          ]
        },
        "options": {
          "fallback": "other",
          "systemPromptTemplate": "=You are a text classification model used in an n8n workflow for Eugene's AI sales agents.\n\nYour job is to determine whether the user requires human handoff by analyzing both their current message AND the chat history context.\n\n**Classify as \"Human\" when ANY of these conditions are met:**\n\n## 1. DIRECT HUMAN REQUEST\n- User explicitly asks to speak to a real person, live agent, or \"real Eugene\"\n- Phrases like: \"talk to someone real\", \"get me a human\", \"speak to Eugene directly\", \"not a bot\", \"real person please\", \"live support\"\n\n**Response Format:**\nReturn only \"Human\" if human handoff is needed, or \"Continue\" if the automated agent should continue.\n\n**Examples:**\n\n✅ \"Human\": \"Can I talk to the real Eugene please?\"\n✅ \"Human\": \"I need to reschedule my call tomorrow\"\n✅ \"Human\": \"Stop asking the same questions, I want to speak to someone real\"\n\n❌ \"Continue\": \"What's included in the $4.5k system?\"\n❌ \"Continue\": \"I run a marketing agency\"\n❌ \"Continue\": \"How does the AI rep work exactly?\"\n❌ \"Continue\": \"Is this within my budget range?\"\n❌ \"Continue\": \"I don't have $4.5k\" (first time mentioning budget - should trigger financing offer, not handoff)",
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        5504,
        -944
      ],
      "id": "3634ab9b-383a-49f8-bf7c-a3dcc334dccd",
      "name": "Analyze User Response1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Get the data array from Supabase response\nconst input = $input.all()[0].json;\n\n// Check if data exists and is an array\nlet prompts = [];\nif (input.data && Array.isArray(input.data)) {\n  prompts = input.data;\n} else if (Array.isArray(input)) {\n  prompts = input;\n} else {\n  prompts = $input.all().map(item => item.json);\n}\n\n// Sort by Id in ascending order (0-11) - note the capital 'I'\nprompts.sort((a, b) => {\n  return a.Id - b.Id;\n});\n\n// Return in N8N format\nreturn prompts.map(prompt => ({ json: prompt }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -1168
      ],
      "id": "90b04098-5505-4ff4-88fd-000aa5c310d4",
      "name": "Structured_Prompt"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1888,
        -1168
      ],
      "id": "c5030540-2d8d-435f-bf20-49efba2c4210",
      "name": "Agg_Set_Prompts1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        -1200
      ],
      "id": "b2f2a0a0-81d0-407f-9f73-d0cd6f9ef61d",
      "name": "Sticky Note20",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        -1200
      ],
      "id": "a4d56d57-1b28-417d-826d-5f060c10f881",
      "name": "Sticky Note21",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        -1200
      ],
      "id": "d046ecc7-572f-4f62-83f1-fc359ba40c4d",
      "name": "Sticky Note22",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        -1200
      ],
      "id": "6cfc604f-6124-4a0a-b598-cb47d45a388d",
      "name": "Sticky Note23",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        -1200
      ],
      "id": "8510c5e2-a0de-46ed-8e0d-cd7f42229e21",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2704,
        -1200
      ],
      "id": "9ee63d53-b319-449f-954e-8ce50cf4fb9c",
      "name": "Sticky Note25",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2944,
        -1200
      ],
      "id": "7262d736-b40b-4c1d-a8ee-6c884100bc49",
      "name": "Sticky Note27",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6752,
        -160
      ],
      "id": "3eb4da3d-c2b6-4a8f-b659-f00ddf130f6e",
      "name": "Sticky Note31",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6528,
        -160
      ],
      "id": "98649dce-83af-4805-8688-faab7b0c00c9",
      "name": "Sticky Note34",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7872,
        -128
      ],
      "id": "5a7761a2-3914-4add-a850-95f9508a448e",
      "name": "Sticky Note35",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8096,
        -128
      ],
      "id": "051b62f3-f613-4eef-8b8e-1a00f4d4f515",
      "name": "Sticky Note36",
      "disabled": true
    },
    {
      "parameters": {
        "content": "Only change the Name of your appointment from \"Eugene\"",
        "height": 256,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8304,
        -128
      ],
      "id": "39160fee-15dc-4085-ba09-abcbfe4032ef",
      "name": "Sticky Note37",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8528,
        -128
      ],
      "id": "7d0c6ad6-fb51-4123-a166-c1626e7028b5",
      "name": "Sticky Note38",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8752,
        -128
      ],
      "id": "197d95d6-ffc7-4374-a289-59f81fbcdd48",
      "name": "Sticky Note39",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8960,
        -128
      ],
      "id": "e8d138d3-dc51-4858-8d15-487dc3c3c770",
      "name": "Sticky Note40",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7888,
        240
      ],
      "id": "62ded954-6451-4ba1-8289-a2e8be5c978c",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8112,
        240
      ],
      "id": "85cdffee-eb69-4858-accb-f9b3f7eeb6fa",
      "name": "Sticky Note42",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8336,
        240
      ],
      "id": "d506a207-d400-4425-8ce7-e2600e533b05",
      "name": "Sticky Note43",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8560,
        240
      ],
      "id": "1c5fd64a-3443-4c59-a46f-b76bfd5f8f4d",
      "name": "Sticky Note44",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8784,
        240
      ],
      "id": "4f3a67fe-2b0d-4f09-a134-8c686f5a6ea2",
      "name": "Sticky Note45",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7872,
        -1264
      ],
      "id": "ab579632-97eb-40c3-a033-8bee380368ec",
      "name": "Sticky Note46",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -752
      ],
      "id": "188a32b4-f528-46d7-8c13-7355ccdc4cf2",
      "name": "Sticky Note49",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -752
      ],
      "id": "58d91d0f-0035-4cf5-b37e-21a4fc2131da",
      "name": "Sticky Note50",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -512
      ],
      "id": "6656667a-394a-4515-8b06-c5f9dc61ccb5",
      "name": "Sticky Note51",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        -752
      ],
      "id": "91c8e17e-7044-4b71-85de-9530b7b4ec73",
      "name": "Sticky Note52",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 208,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -512
      ],
      "id": "a8b4e575-2718-4334-a140-73ddfff4a3b3",
      "name": "Sticky Note53",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        -752
      ],
      "id": "bd418beb-ce29-42c1-a0d1-3b11b20f47f7",
      "name": "Sticky Note54",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 336,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9104,
        -784
      ],
      "id": "9a67f5bc-be1d-48ed-a5df-4772b432df66",
      "name": "Sticky Note55",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 304,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9552,
        -784
      ],
      "id": "903bd61a-8e51-4869-b271-791f47b668b6",
      "name": "Sticky Note56",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10048,
        -1216
      ],
      "id": "091a24f0-4158-46ff-939b-73c60f8353fc",
      "name": "Sticky Note57",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10048,
        -976
      ],
      "id": "178ba870-0339-4baf-ae5d-ec6b477d73a9",
      "name": "Sticky Note58",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10048,
        -720
      ],
      "id": "2c297565-d8ac-47af-89c2-0d0c1503363b",
      "name": "Sticky Note59",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10048,
        -480
      ],
      "id": "80bd123c-b9b4-48f8-96d0-4c6aac9b8afc",
      "name": "Sticky Note60",
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10048,
        -208
      ],
      "id": "5a7eb613-144a-4505-9b56-b61a6d800ab1",
      "name": "Sticky Note61",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c3e426b-4418-47dc-b564-4625538b8e4c",
              "name": "api_key",
              "value": "={{ $('Get API Credentials1').item.json.data[0].GHL_API_Key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -960
      ],
      "id": "2ee1469b-8ea8-4cfa-9e4d-429d5ac6903c",
      "name": "Set_HighLevel_API_Key"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1216,
        -1168
      ],
      "id": "33b1d2f7-3667-452b-97d9-00939bfb2271",
      "name": "Get API Credentials1",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09dda029-7b7b-42d7-ac65-9f8032f4b742",
              "name": "Transfer_To_Human_Inbound_Webhook",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Transfer_To_Human_Webhook }}",
              "type": "string"
            },
            {
              "id": "5b484b49-61e6-40dd-a603-ef5d9caedb90",
              "name": "User_Details_Inbound_Webhook",
              "value": "={{ $('Get API Credentials1').item.json.data[0].User_Details_Webhook }}",
              "type": "string"
            },
            {
              "id": "fd14407a-e093-406b-9662-6f244c744cbc",
              "name": "Update_Pipeline_Inbound_Webhook",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Update_Pipeline_Webhook }}",
              "type": "string"
            },
            {
              "id": "72979dc0-7930-4fb4-99e9-8e31e5e1c1f3",
              "name": "Lead_Score_Webhook",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Update_Lead_Score_Webhook }}",
              "type": "string"
            },
            {
              "id": "c630a3eb-2f16-43bd-8ce1-929e9a3842f5",
              "name": "Save_Reply",
              "value": "={{ $('Get API Credentials1').item.json.data[0].Save_Reply }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        -544
      ],
      "id": "86cb60f4-b5a6-4b60-a96e-da160adaf99e",
      "name": "Set_Inbound_Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        3232,
        -1088
      ],
      "id": "1b1f01f3-ff68-4f4f-800a-5fdf87cc3792",
      "name": "Chat Memory Manager1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Extract Complete Chat History",
        "height": 288,
        "width": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3184,
        -1200
      ],
      "id": "cea23fcd-22f6-4b5e-9031-40291c8cf10c",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Transfer Lead to Human\n",
        "height": 464,
        "width": 688,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5376,
        -1216
      ],
      "id": "7ec7f832-2822-4081-9604-7b20f19fc208",
      "name": "Sticky Note65",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# FUNCTION",
        "height": 80,
        "width": 684,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5376,
        -1312
      ],
      "id": "f5169fd7-eead-455d-817f-61fde2e6819e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Extract Lead Details\n",
        "height": 464,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4400,
        -1216
      ],
      "id": "8ae6b55b-95fb-4aee-b35a-f9574f700883",
      "name": "Sticky Note66",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# FUNCTION",
        "height": 80,
        "width": 876,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4400,
        -1312
      ],
      "id": "66e0aa97-770a-4ea5-9f58-adb8c3047ba0",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f71e358-99f2-4d5a-a47d-5b83a53dfb51",
              "name": "User_Utterance",
              "value": "={{ $('Webhook').item.json.body.payload }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2416,
        -1168
      ],
      "id": "148245cc-7792-4115-8f6b-78bd307a2c58",
      "name": "Set_User_Utterance"
    },
    {
      "parameters": {
        "content": "# RED NOTES\n\n## THEY MEAN THAT YOU MUST CHANGE CREDENTIALS / PROMPT / DETAILS TO MAKE THE ENGINE WORK.\n\n## CLICK ON EACH RED NOTE IN THIS WORKFLOW ONE-BY-ONE AND FOLLOW INSTRUCTIONS.",
        "height": 352,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -2048
      ],
      "id": "1114e620-04e8-4e88-a8e4-8a878d94caf6",
      "name": "Sticky Note29",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# BLUE NOTES\n\n## THEY MEAN THAT YOU MIGHT WANT TO CHANGE PROMPT / DETAILS TO BETTER FIT YOUR OWN WORKFLOW.\n\n## BUT IT'S NOT A REQUIREMENT, SO YOU CAN KEEP THEM AS IS.",
        "height": 352,
        "width": 544,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        -2048
      ],
      "id": "def165d7-1efb-4287-b8fe-0c4ff03fd1e3",
      "name": "Sticky Note47",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# GREY NOTES\n\n## THESE ARE THE NODES YOU SHOULD NOT TOUCH - THEY ARE BUILT IN A WAY TO MAKE YOUR ENGINE WORK.\n\n## YOU CAN CHANGE THEM, BUT MAKE SURE THAT YOU KNOW WHAT YOU'RE DOING.",
        "height": 352,
        "width": 544,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -2048
      ],
      "id": "0340bff8-13a2-4a9b-b2d8-2018bc97575b",
      "name": "Sticky Note48",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## IN SIMPLE WORDS - THE VERY FIRST THING THAT YOU MUST DO IS TO GO THROUGH ALL THE RED NOTES AND PUT YOUR OWN CREDENTIALS - THEN THE ENGINE WILL BE READY TO GO.",
        "height": 208,
        "width": 544,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -1632
      ],
      "id": "6b325afb-df17-4df7-85f8-071f7a3aee5e",
      "name": "Sticky Note63",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Agent 3",
        "height": 284,
        "width": 476,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6512,
        -592
      ],
      "id": "ae6fd0dc-4386-4105-a063-c2b1c13c1084",
      "name": "Sticky Note67"
    },
    {
      "parameters": {
        "content": "## Agent Number 3?",
        "height": 284,
        "width": 268,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6176,
        -592
      ],
      "id": "c4dd72d5-1e9b-4576-8956-8981f7eac332",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd8f0ac7-abff-4619-98c9-db005ed67327",
              "leftValue": "={{ $('Webhook').item.json.query.AgentNumber }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6256,
        -480
      ],
      "id": "2dcd7c8e-a02d-4111-98e4-3be778b57518",
      "name": "If3"
    },
    {
      "parameters": {
        "content": "",
        "height": 396,
        "width": 372,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3632,
        -1120
      ],
      "id": "be1781ff-e705-475c-a1f9-9c75ee6f9fe5",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Score  Lead\n",
        "height": 608,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3552,
        -1216
      ],
      "id": "3ed03ade-5717-40fc-be42-876ec545eebc",
      "name": "Sticky Note68",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# FUNCTION",
        "height": 80,
        "width": 748,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3552,
        -1312
      ],
      "id": "cd5e33e8-738c-4680-800d-f9062754cd5c",
      "name": "Sticky Note69"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"score\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 500\n    }\n  },\n  \"required\": [\"score\"],\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3712,
        -880
      ],
      "id": "d9c4e2a5-1521-43ed-8d73-35378753a530",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "url": "={{ $('Set_Inbound_Webhook').item.json.Lead_Score_Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            },
            {
              "name": "leadScore",
              "value": "={{ $json.output.score }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        -1072
      ],
      "id": "5af887a4-b080-445a-9f3c-5d9caa5dad8b",
      "name": "Send Lead Score",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set_Inbound_Webhook').item.json.User_Details_Inbound_Webhook }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fullName",
              "value": "={{ $json.output.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.output.email }}"
            },
            {
              "name": "userID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.output.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5088,
        -912
      ],
      "id": "102ee73f-3234-4dde-8296-4831fed85def",
      "name": "Send Lead Details",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4384,
        -640
      ],
      "id": "d04ad0d6-7e17-4c5d-ad76-8e1232124601",
      "name": "Sticky Note70"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4480,
        -544
      ],
      "id": "951307c9-6382-4834-a0f5-773367696f44",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt_Ads_Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09dda029-7b7b-42d7-ac65-9f8032f4b742",
              "name": "Prompt_0",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[0].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[0].Content }}",
              "type": "string"
            },
            {
              "id": "af4ec4dc-789a-4d3f-8850-a97f989d9883",
              "name": "Prompt_1",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[1].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[1].Content }}",
              "type": "string"
            },
            {
              "id": "4c52c430-f45d-4c6e-8672-e2b907af4b18",
              "name": "Prompt_2",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[2].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[2].Content }}",
              "type": "string"
            },
            {
              "id": "ef0a2062-0d40-4c1a-b703-d991cff903e2",
              "name": "Prompt_3",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[3].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[3].Content }}",
              "type": "string"
            },
            {
              "id": "650b81ce-220a-4319-8dc2-0d79fde882d6",
              "name": "Prompt_4",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[4].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[4].Content }}",
              "type": "string"
            },
            {
              "id": "7a474784-870c-4128-8f9c-f076022b8a7e",
              "name": "Prompt_5",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[5].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[5].Content }}",
              "type": "string"
            },
            {
              "id": "8136d0d7-6dc3-4660-832c-a50dd7bdbe7b",
              "name": "Prompt_6",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[6].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[6].Content }}",
              "type": "string"
            },
            {
              "id": "3b30e97e-b3b7-4539-bafd-c103f5454906",
              "name": "Prompt_7",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[7].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[7].Content }}",
              "type": "string"
            },
            {
              "id": "fa2ec709-ac8c-4681-a636-a312d3744ab7",
              "name": "Prompt_8",
              "value": "={{ $('Agg_Set_Prompts1').item.json.data[8].Prompt_Name }}\n{{ $('Agg_Set_Prompts1').item.json.data[8].Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2432,
        -544
      ],
      "id": "b0c2b016-59f1-4cb1-a01f-7ba66f9d2f8e",
      "name": "Set_Text_Prompts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set_Inbound_Webhook').item.json.Save_Reply }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Message1",
              "value": "={{ $json.Message_1 }}"
            },
            {
              "name": "Message2",
              "value": "={{ $json.Message_2 }}"
            },
            {
              "name": "Message3",
              "value": "={{ $json.Message_3 }}"
            },
            {
              "name": "Message4",
              "value": "={{ $json.Message_4 }}"
            },
            {
              "name": "Chat_History",
              "value": "={{ $json.chat_history }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        -448
      ],
      "id": "fa92ac05-3e47-4a45-b224-50fa2ed9d7d5",
      "name": "Respond to Webhook3",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10272,
        -480
      ],
      "id": "d51b81d3-3684-460c-a0e4-47339befd7ee",
      "name": "Sticky Note74",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set_Inbound_Webhook').item.json.Save_Reply }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Message1",
              "value": "={{ $json.Message_1 }}"
            },
            {
              "name": "Chat_History",
              "value": "={{ $json.chat_history }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        -1184
      ],
      "id": "62ed1530-683a-4dc9-872a-51140ebd5f2e",
      "name": "Respond to Webhook",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10272,
        -1216
      ],
      "id": "7932dc1a-c6ba-473d-b853-5e94cea7c9f7",
      "name": "Sticky Note75",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set_Inbound_Webhook').item.json.Save_Reply }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Message1",
              "value": "={{ $json.Message_1 }}"
            },
            {
              "name": "Message2",
              "value": "={{ $json.Message_2 }}"
            },
            {
              "name": "Chat_History",
              "value": "={{ $json.chat_history }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        -944
      ],
      "id": "2be22b8c-4517-4c6a-b22b-f6d45a03dae0",
      "name": "Respond to Webhook4",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10272,
        -976
      ],
      "id": "c4c87623-e97e-447a-ae61-2f48755381f4",
      "name": "Sticky Note76",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set_Inbound_Webhook').item.json.Save_Reply }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Message1",
              "value": "={{ $json.Message_1 }}"
            },
            {
              "name": "Message2",
              "value": "={{ $json.Message_2 }}"
            },
            {
              "name": "Message3",
              "value": "={{ $json.Message_3 }}"
            },
            {
              "name": "Chat_History",
              "value": "={{ $json.chat_history }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        -688
      ],
      "id": "976a9898-327b-4bba-9d2a-20da35103a75",
      "name": "Respond to Webhook5",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10272,
        -720
      ],
      "id": "e8dce6db-c563-4ab9-a8de-e066a74fea24",
      "name": "Sticky Note77",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set_Inbound_Webhook').item.json.Save_Reply }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Message1",
              "value": "={{ $json.Message_1 }}"
            },
            {
              "name": "Message2",
              "value": "={{ $json.Message_2 }}"
            },
            {
              "name": "Message3",
              "value": "={{ $json.Message_3 }}"
            },
            {
              "name": "Message4",
              "value": "={{ $json.Message_4 }}"
            },
            {
              "name": "Message5",
              "value": "={{ $json.Message_5 }}"
            },
            {
              "name": "Chat_History",
              "value": "={{ $json.chat_history }}"
            },
            {
              "name": "UserID",
              "value": "={{ $('Set_User_ID').item.json.User_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10320,
        -176
      ],
      "id": "c3f380e0-9592-4130-b4bc-9468b83e92dd",
      "name": "Respond to Webhook6",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "content": "",
        "height": 192,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10272,
        -208
      ],
      "id": "6d35032f-0ee5-47c3-9ce3-8e31de216491",
      "name": "Sticky Note78",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## LLM Model",
        "height": 260,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9184,
        -416
      ],
      "id": "70816637-d3ba-4eb4-926e-ab636c1dddbb",
      "name": "Sticky Note62"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        9280,
        -336
      ],
      "id": "16f66ec4-1643-4e46-b9e5-8245feb12077",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "pUTijVXm4SQyDtm0",
          "name": "1Prompt_Ads_Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User last input:\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\nChat history with the user:\n{{ JSON.stringify($('Chat Memory Manager1').item.json.messages, null, 2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Prospect Scoring AI - LEARN FROM CONVERSATION HISTORY\n\n## MANDATORY COMPLIANCE RULES\n**FAILURE TO FOLLOW THESE RULES WILL BREAK THE SYSTEM. DO NOT IGNORE ANY OF THEM.**\n\nYou are a scoring engine that analyzes the user's final message AND the full conversation history to assign a numerical score to the prospect.\n\n**Your ONLY job is to calculate a score based on the exact point rules below.  \nYou MUST apply every rule that fits.  \nYou MUST add points cumulatively.  \nYou MUST output only JSON following the schema.**\n\nThe minimum score is 1 (default for prospects with no meaningful interaction).  \nThe maximum score is 500 based on cumulative point additions.\n\nYou must NEVER output anything other than the JSON object.\n\n---\n\n## SCORING LOGIC (APPLY ALL THAT APPLY)\n\n### BASE INTERACTION\n**+5 points** — The user sends *any* reply or interaction (any message at all).\n\n### ANSWERING QUESTIONS\n**+5 points** — The user answered at least one question from the AI.  \n**+10 points** — The user answered at least three questions.  \n(If they answer more than three questions, do not add additional points.)\n\n### ASKING QUESTIONS (USER INITIATED)\n**+10 points** — The user asked at least one question.  \n**+20 points** — The user asked at least three questions.  \n(Asking more than three does not add more points.)\n\n### EXPERIENCE WITH WEBINARS (IMPORTANT SIGNAL)\n**+30 points** — The user mentioned that they previously tried running webinars.  \n(This is valuable because we sell a self-selling webinar system.)\n\n### USE OF AI TOOLS\n**+20 points** — The user mentioned they are currently using ANY AI tools.\n\n### BUSINESS FINANCIAL HEALTH (FROM CONTEXT)\n**+60 points** — The user's comments imply they are making money, not struggling, and run a functioning business.  \n(This must be inferred strictly from their own statements.)\n\n### BUSINESS DETAILS SHARED\n**+25 points** — The user briefly explains what they do or what they sell.  \n**+50 points** — The user explains their business in more depth, giving additional clarity that can help us.  \n(Do NOT add both. Choose 25 or 50 based on depth.)\n\n### SEEKING OUR SOLUTION OR IMPROVEMENT\n**+100 points** — The user explicitly states they are looking for a solution like ours, or wanting a better way to run webinars.\n\n### CURRENTLY RUNNING WEBINARS NOW\n**+80 points** — The user explicitly states they are actively running webinars *right now* for their business.  \n(This is separate from “tried webinars before” and both can be added.)\n\n---\n\n## CRITICAL RULES (NON-NEGOTIABLE)\n\n### 1. YOU MUST APPLY ALL POINTS THAT MATCH\nIf multiple conditions are true, you **add all relevant points together**.  \nIf none of the conditions match, the score stays **1**.\n\n### 2. YOU MUST ANALYZE THE ENTIRE CONVERSATION\nDo not rely only on the last message.  \nEvaluate:  \n- All answers  \n- All questions  \n- All statements about business  \n- All intent  \n- All mentions of webinars or AI  \n- All context clues about financial stability  \n- Everything the user shared earlier\n\n### 3. ONLY OUTPUT JSON  \nNever output explanations, notes, apologies, or text outside JSON.  \nOnly return the final object.\n\n---\n\n## REQUIRED OUTPUT FORMAT (MANDATORY)\nThe output must strictly follow this schema:\n\n```json\n{\n  \"score\": 0\n}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3712,
        -1072
      ],
      "id": "f8871ae3-25ef-439f-9955-2c460a8ae777",
      "name": "Lead Scoring Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook1').item.json.query.User_Id }}",
        "tableName": "Chat_History",
        "contextWindowLength": 60
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        928,
        -464
      ],
      "id": "63a8a2bd-ffb8-4037-b89c-573add7f5409",
      "name": "Supabase Memory1",
      "credentials": {
        "postgres": {
          "id": "Zlu8vwRNXtKmNZfg",
          "name": "1Prompt - SSW Chats"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# USER LAST UTTERANCE\n{{ $('Set_User_Utterance').item.json.User_Utterance }}",
        "options": {
          "systemMessage": "=# Bot Persona Prompt:\n{{ $('Set_Text_Prompts').item.json.Prompt_0 }}\n\n# System Prompt:\n{{ $('Set_Text_Prompts').item.json.Prompt_1 }}\n\n# User Contact Details:\n- {{ $('Set_User_Details').item.json[\"User_Details\"] }}\n\n# Current Date & Time:\n- {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        6608,
        -1216
      ],
      "id": "f34935e4-6550-481f-b4ca-46c01028b040",
      "name": "Agent-1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## USER LAST UTTERANCE\n{{ $('Set_User_Utterance').item.json.User_Utterance }}",
        "options": {
          "systemMessage": "=# Bot Persona Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_0 }}\n\n# System Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_2 }}\n\n# Booking Function Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_7 }}\n\n# User Contact Details:\n- {{ $('Set_User_Details').item.json[\"User_Details\"] }}\n\n# Current Date & Time:\n- {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        6608,
        -848
      ],
      "id": "c9c35fdf-ac88-4973-9a6f-d3c29910c574",
      "name": "Agent-2",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## USER LAST UTTERANCE\n{{ $('Set_User_Utterance').item.json.User_Utterance }}\n\n# User Details:\n{{ $('Set_User_Details').item.json.User_Details }}",
        "options": {
          "systemMessage": "=# Bot Persona Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_0 }}\n\n# System Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_3 }}\n\n# Booking Function Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_7 }}\n\n# User Contact Details:\n- {{ $('Set_User_Details').item.json[\"User_Details\"] }}\n\n# Current Date & Time:\n- {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        6608,
        -496
      ],
      "id": "a6a90e02-a23d-42fa-9cb2-ada3499b824e",
      "name": "Agent-3",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## USER LAST UTTERANCE\n{{ $('Set_User_Utterance').item.json.User_Utterance }}",
        "options": {
          "systemMessage": "=# Bot Persona Prompt:\n- {{ $('Set_Text_Prompts').item.json.Bot_Persona }}\n\n# System Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_3 }}\n\n# Booking Function Prompt:\n- {{ $('Set_Text_Prompts').item.json.Prompt_7 }}\n\n# User Contact Details:\n- {{ $('Set_User_Details').item.json[\"User_Details\"] }}\n\n# Current Date & Time:\n- {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        7136,
        -112
      ],
      "id": "502fe13c-3d28-4375-a383-8ef915e6ae6a",
      "name": "Agent-4",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "axios/0.21.4",
            "content-length": "156",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-forwarded-for": "34.55.112.60",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "adf6a7befe78",
            "x-real-ip": "34.55.112.60",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {
            "ReplyChannel": "SMS",
            "AgentType": "Webinar Nurturing Agent"
          },
          "body": {
            "payload": "Yes see you then",
            "userID": "zOPpJ5XrENrKXSOMFxii",
            "userFullName": "Kevin M Rascop",
            "userEmail": "k.rascop@comcast.net",
            "userPhone": "+19529138020"
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/n8n-ssw-engine",
          "executionMode": "production"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n-1prompt.99players.com",
            "user-agent": "axios/0.21.4",
            "content-length": "84",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "x-forwarded-for": "34.55.112.60",
            "x-forwarded-host": "n8n-1prompt.99players.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "adf6a7befe78",
            "x-real-ip": "34.55.112.60",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {
            "User_Id": "xKm6x4YzEdIFgYWZsZwB"
          },
          "body": {
            "name": "Harsh Agrawal",
            "email": "mindsightai11@gmail.com",
            "phone": "+91 76542 57862"
          },
          "webhookUrl": "https://n8n-1prompt.99players.com/webhook/n8n-ssw-followups-engine",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Set_User_Details": {
      "main": [
        [
          {
            "node": "Chat Memory Manager1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_User_ID": {
      "main": [
        [
          {
            "node": "Set_User_Utterance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent-2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agent-4",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agent-1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Agent-3",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Follow Up Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Follow Up Status",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up Status": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent-2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent-4",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent-1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent-3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Follow Up Status",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set_Chat_History_&_Json_Split": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Set_Chat_History_&_Json_Split",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Chat_History_&_Json_Split1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Chat_History_&_Json_Split2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Chat_History_&_Json_Split3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set_Chat_History_&_Json_Split4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Chat_History_&_Json_Split1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Chat_History_&_Json_Split2": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Chat_History_&_Json_Split3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Chat_History_&_Json_Split4": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Split Reply to JSON1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Reply to JSON1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checking_Form_Submission": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Agent-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Checking_Form_Submission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Agent-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Agent-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Agent_Response": {
      "main": [
        [
          {
            "node": "Split Reply to JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start_Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start_Date1": {
      "main": [
        [
          {
            "node": "End_Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End_Date1": {
      "main": [
        [
          {
            "node": "Set_startDate_endDate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_startDate_endDate1": {
      "main": [
        [
          {
            "node": "getAvailableSlot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_User_TimeZone1": {
      "ai_tool": [
        [
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Available_Slot1": {
      "ai_tool": [
        [
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "bookAppointment1": {
      "ai_tool": [
        [
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getContactAppointments1": {
      "ai_tool": [
        [
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateAppointment1": {
      "ai_tool": [
        [
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelAppointment1": {
      "ai_tool": [
        [
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set_Assignee_Id": {
      "main": [
        [
          {
            "node": "Set_Calendar_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Calendar_Id": {
      "main": [
        [
          {
            "node": "Set_Location_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Location_Id": {
      "main": [
        [
          {
            "node": "Set_Inbound_Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get API Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Information": {
      "main": [
        [
          {
            "node": "No User Info?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No User Info?": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Lead Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledgebase tool'",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Knowledgebase tool'": {
      "ai_tool": [
        [
          {
            "node": "Agent-4",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agent-1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agent-2",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Agent-3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getContact": {
      "main": [
        [
          {
            "node": "Set_User_Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Credentials": {
      "main": [
        [
          {
            "node": "Get API Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prompts": {
      "main": [
        [
          {
            "node": "Structured_Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze User Response1": {
      "main": [
        [
          {
            "node": "Assign to Human1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured_Prompt": {
      "main": [
        [
          {
            "node": "Agg_Set_Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg_Set_Prompts1": {
      "main": [
        [
          {
            "node": "Set_User_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_HighLevel_API_Key": {
      "main": [
        [
          {
            "node": "Set_Assignee_Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get API Credentials1": {
      "main": [
        [
          {
            "node": "Get Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_Inbound_Webhook": {
      "main": [
        [
          {
            "node": "Set_Text_Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager1": {
      "main": [
        [
          {
            "node": "Lead Scoring Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_User_Utterance": {
      "main": [
        [
          {
            "node": "Set_HighLevel_API_Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Agent-3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Scoring Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send Lead Score": {
      "main": [
        [
          {
            "node": "Extract User Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Lead Details": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Analyze User Response1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract User Information",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Lead Scoring Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set_Text_Prompts": {
      "main": [
        [
          {
            "node": "getContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Split Reply to JSON1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring Agent": {
      "main": [
        [
          {
            "node": "Send Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agent-1": {
      "main": [
        [
          {
            "node": "Set_Agent_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent-2": {
      "main": [
        [
          {
            "node": "Set_Agent_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent-3": {
      "main": [
        [
          {
            "node": "Set_Agent_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent-4": {
      "main": [
        [
          {
            "node": "Set_Agent_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "UiUS7z9NTZruUjS6"
  },
  "versionId": "d34cc004-9d7a-41fa-8470-7fd62f512bc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6393c210062f3439624d11fb3a3d92ef87be73ff78f55daf0b53b820986b331"
  },
  "id": "Kjw8er7bup270H8I",
  "tags": []
}